<body>
  <table>
    <tr>Products Details</tr>
    <tr>
    <td>Name</td><td>Description</td><td>Price</td><td>Show</td>
    </tr>
    <% @products.each do |s| %>
      <tr>
        <td><%=s.name%></td>
        <td><%=s.description%></td>
        <td><%=s.price %></td>
        <td><%= button_to 'Show', product_path(s), method: :get%></td>
      </tr>
    <% end %>
  </table>
</body>